$color-primario: white;
$color-secundario: black;
$color-terceario: rgb(122, 96, 143, 0.753);
$color-cuarto: rgba(64, 139, 209, 0.397);
$color-quinto: rgba(20, 20, 20, 0.788);
$color-sexto: rgb(55, 156, 55);
$backgroundcolor-nav: rgb(68, 0, 255);
$cancion-mobile-fondo: rgb(151, 170, 255);